.header{
  .logo{
    background: url(../../assets/images/logo-ANSWER.svg) no-repeat;
    width: 151px;
    height: 40px;
    @include hid-text;
  }
  .menu-active {
    border-left: $size solid;
    margin-left: -32px;
  }
}

