.w-35 {
  width: 35%;
}
.w-65 {
  width: 65%;
}

.container-fluid{
  padding: 0 32px !important;
}

.border-middle {
  border: 1px solid $border;
}
.border-bottom-middle {
  border-bottom: 1px solid $border;
}
.radius-sm {
  border-radius: $size * 0.5 !important;
}

.fs-1 {
  font-size: $size * 6 !important;
}
.fs-2 {
  font-size: $size * 4 !important;
}
.fs-3 {
  font-size: $size * 3.5 !important;
}
.fs-4 {
  font-size: $size * 3 !important;
}

.lh-sm {
  line-height: 1.375 !important;
}

.img-object-cover {
  object-fit: cover;
}

.me-4 {
  margin-right: $size * 4 !important;
}
.me-7 {
  margin-right: $size * 6 !important;
}
.me-10 {
  margin-right: $size * 12 !important;
}
.mb-3 {
  margin-bottom: $size * 3 !important;
}
.mb-4 {
  margin-bottom: $size * 4 !important;
}
.mb-6 {
  margin-bottom: $size * 5.5 !important;
}
.mb-8 {
  margin-bottom: $size * 7.5 !important;
}
.mb-9 {
  margin-bottom: $size * 8 !important;
}
.ms-10 {
  margin-left: $size * 12 !important;
}

.p-3 {
  padding: $size * 3 !important;
}
.py-3 {
  padding-top: $size * 3 !important;
  padding-bottom: $size * 3 !important;
}
.px-4 {
  padding-left: $size * 4 !important;
  padding-right: $size * 4 !important;
}
.px-7 {
  padding-left: $size * 6 !important;
  padding-right: $size * 6 !important;
}
.px-9 {
  padding-left: $size * 8 !important;
  padding-right: $size * 8 !important;
}
.py-5 {
  padding-top: $size * 5.5 !important;
  padding-bottom: $size * 5.5 !important;
}
.py-9 {
  padding-top: $size * 8 !important;
  padding-bottom: $size * 8 !important;
}
.pt-3 {
  padding-top: $size * 3 !important;
}
.pt-9 {
  padding-top: $size * 8 !important;
}
.pe-9 {
  padding-right: $size * 8 !important;
}
.pb-4 {
  padding-bottom: $size * 4 !important;
}
.pb-9 {
  padding-bottom: $size * 8 !important;
}
.ps-4 {
  padding-left: $size * 4 !important;
}
.ps-8 {
  padding-left: $size * 7.5 !important;
}
.ps-9 {
  padding-left: $size * 8 !important;
}
